/* Root */
:root {
  --texto: #4a3931;
  --marrom: #6b3d26;
  --marromtransp: #6b3d26ab;
  --trigo: #f5deb3;
  --trigotransp: #f5deb3b9;
  --fundo: #d8c7ad;
  --marromescuro: #64473a;
  --marromgradiente: #755343;
  --sombra: rgba(0, 0, 0, 0.241);
  --fontcursiva: "Qwitcher Grypen", serif;
  --fontmontserrat: "Montserrat", serif;
  --fontnoto: "Noto Serif Display", serif;
  --fontroboto: "Roboto", serif;
}
* {
  color: var(--texto);
  font-family: var(--fontroboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Geral */
body {
  background-color: var(--fundo);
}
a {
  color: var(--cortexto);
  text-decoration: none;
  transition: 0.5s;
}


.flex {
  display: flex;
}
.btn {
  background-color: var(--marrom);
  font-size: 1rem;
}
/* Header */
header {
  transform: scale(1);
  position: sticky;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 2000;
}
header.scrolled {
  max-height: 79px;
  background-color: var(--trigotransp);
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 6px var(--trigotransp);
}
.flex.header {
  position: relative;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.logo {
  padding: 1rem;
}
.logo a {
  font-size: 1.5rem;
  transition: 0.5s;
  color: var(--texto);
}
.logo a:hover {
  color: var(--trigo);
  text-shadow: 1px 1px var(--marromtransp);
}
#imglogo {
  height: 1.5rem;
}
.listmenu ul {
  list-style: none;
  gap: 6rem;
  display: flex;
  flex-direction: row;
  background: transparent;
  justify-content: space-evenly;
}
.listmenu ul li a {
  color: var(--marrom);
  font-weight: 400;
  text-decoration: none;
  transition: 0.7s ease-in-out;
  font-size: 1.5rem;
  
}
.listmenu.desktop.ativo li a{
  color: var(--marromescuro);
  border-bottom: 1px solid var(--marrom);
  
  
}
.listmenu.desktop.ativo li a:hover{
  color: var(--trigo);
  border-bottom: 2px solid var(--trigo);
  text-shadow: 1px 1px var(--marromtransp);
}

.listmenu ul li a:hover {
  color: var(--trigo);
}
.btn.contato {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 4px 4px 1px var(--sombra);
  transition: 0.4s;
  transform: scale(1);
}
.btn.contato:hover {
  transform: scale(1.1);
}
.btn.contato a {
  color: var(--trigo);
}
span {
  font-family: var(--fontcursiva);
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
}
i {
  padding: 0.5rem;
  font-size: 2rem;
  transition: 0.5s;
}
i:hover {
  color: var(--trigo);
  text-shadow: 1px 1px var(--marromtransp);
}
.btn-abrirmb {
  display: none;
  padding: 1rem;
}
.btn-fecharmb {
  padding: 1rem;
  position: absolute;
  right: 0;
}

/* Menu Mobile */
.menu-mobile {
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: var(--marromtransp);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -100rem;
  left: 0;
  transition: 1s;
}
.menu-mobile.abrir {
  opacity: 1;
  visibility: visible;
  top: 0;
  z-index: 100;
}
.mobile ul {
  padding-top: 4rem;
  flex-direction: column;

  align-items: center;
  gap: 0rem;
}
.mobile ul li a {
  color: var(--trigo);
  display: inline-block;
  width: 100%;
}
.mobile ul li {
  padding: 1rem;
  text-align: center;
  display: inline-block;
  width: 100%;
  transition: 0.5s;
  i{
    color: var(--trigo);
  }
}
.mobile ul li:hover {
  background-color: var(--marrom);
}

.overlay-menu-mobile {
  background-color: var(--trigotransp);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100rem;
  transition: 0.5s;
}
.overlay-menu-mobile.abrir {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}
/* Main */
section.home {
  position: relative;
  background-image: linear-gradient(180deg, #64473a, #755343, #d8c7ad 60%);
}
.flex.home{
  flex-direction: column;
}
section .txthome {
  top: 0;
  margin: auto ;

  color: var(--trigo);
  
  text-align: center;
}
section .textocta {
  border-radius: 20px 20px 20px 0;
    background-color: var(--trigotransp);
    text-align: start;
    display: flex
;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 10px;
    left: -200px;
    width: 25%;
    opacity: 0 ;
    visibility: hidden;
    align-items: flex-start;
    box-shadow: 1px 3px 3px 1px var(--sombra);
    transition: left 1.5s, opacity 1.35s, visibility 1.2s ;
}
section .textocta.animado{
  
  left: 100px;
  opacity: 1;
  visibility: visible
}
section .textocta p{
  color: var(--marrom);
    padding: 1rem;
}
section .textocta .btn-home button{
  box-shadow: 1px 3px 3px 1px var(--sombra);
    background-color: var(--marromtransp);
    border-radius: 20px 20px 20px 0;
    border: none;
    padding: 1rem;
    color: var(--trigo);
}
section .textocta .btn-home button:hover{
  background-color: var(--marrom);
  color: var(--trigo);
  
}


section .txthome h1 {
  font-family: var(--fontnoto);
  font-size: 2.25rem;
  color: var(--trigo);
}
section .txthome h3 {
  color: var(--trigo);
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: 300;
}
#imgtxthome {
  width: 2.5rem;
}
section.home img {
  width: 100%;
}
section .textocta h2 {
  font-family: var(--fontcursiva);
  font-size: 4rem;
  line-height: 2rem;
  font-weight: 300;
}
/* Club Affetto */
.clube .interface{
  padding: 20px 4%;
}
 .imagemclube{
  max-width: 1125px;
  width: 100%;
  margin: auto;
 }
 .imagemclube img{
  width: 100%;
 }
 #imgclub{
  display: block;
 }
#imgclub2{
  display: none;
 }
#imgclub3{
  display: none;
}

 .txtcomofunciona{
  padding: 40px 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  h2{
    text-align: center;
    font-size: 2rem;
    color: var(--texto);
  }
  p{
    width: 55%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--marromescuro);
  }
 }
/* Club Affetto Passos */
.passos{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.passos.desktop {
  text-align: center;
  padding: 1rem 4%;
  width: 100%;
}
.passos.mobile {
  display: none;
  flex-direction: column;
}

.slider  {
  position: relative;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.passosmobile { 
  display: flex;
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.passosmobile:active {
  cursor: grabbing;
}

.passomobile {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 340px;
}

.passomobile h3 {
  color: var(--marrom);
  font-size: 1.5rem;
}

.passomobile h1 {
  font-family: var(--fontnoto);
  font-size: 2.25rem;
  color: var(--marrom);
}

.passomobile p {
  color: var(--marromgradiente);
  font-size: 1rem;
  padding: 0.5rem;
}

.passomobile img {
  width: 40%;
}

.passomobile:active {
  cursor: grabbing;
}

.btnpassosanterior,
.btnpassosproximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  z-index: 2;
  border-radius: 15px;
}

.btnpassosanterior:hover,
.btnpassosproximo:hover {
  background-color: var(--marrom);
  color: var(--trigo);
}

.btnpassosanterior {
  left: 10px;
}

.btnpassosproximo {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.dots div {
  height: 10px;
  width: 10px;
  background: var(--trigotransp);
  border-radius: 50%;
  margin: 0 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dots div.active {
  background: var(--marromtransp);
  transform: scale(1.5);
}

.passodesktop{
  width: 20%;
  h3{
    color: var(--marrom);
    font-size: 1.5rem;
  }
  h1{
    font-family: var(--fontnoto);
  font-size: 2.25rem;
  color: var(--marrom);

  }
  p{
    color: var(--marromgradiente);
    font-size: 1rem;
    padding: 0.5rem;
  }
  img{
    width: 50%;
  }
}

/* Clube Options */
.clubeoptions h1 { 
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--texto);
}
.cards{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}
.card{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  box-shadow: 1px 3px 3px 1px var(--sombra);
  text-align: center;
  background-color: var(--marrom);
  color: var(--trigo);  
  h3{
    color: var(--trigo);
    font-size: 2rem;    
  }
  h4{
    color: var(--trigo);
  }
}

/* Options View */
.btnoptions{
 
  color: var(--marrom);
  top: calc(100% / 2);
  position: absolute;
}
.btnoptions i{
  padding: 0.5rem;
}
.btnoptions:hover{
  background-color: var(--marrom);
  border-radius: 15px;
  box-shadow: 1px 3px 3px 1px var(--sombra);
}
.btnoptions.anterior{
  left: 0;
}
.btnoptions.proximo{
  right: 0;
}
.optionsview{
  position: relative;
  margin: 8rem auto auto auto;
  background-image: url(../img/backgroundplanos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1250px;
  height: 350px;
}
.options{
  position: relative;
}
.option{
  position: absolute;
  padding: 1rem;
  display: flex;
  justify-content: center;
  

}
.infos{
  padding: 1rem 2rem 1rem 0rem;
  margin-top: -1.5rem;
}

.cesta{
  margin: -100px 0 0 130px;
  width: 60%;
  max-width: 450px;
}
.cesta.c2{
  max-width: 291px;
  margin: -150px 0 0 260px;
}
.cesta img{
  width: 100%;
}
.titulo{
  padding-left: 1rem;
}
p.cestaffeto{
  color: var(--marrom);
  font-size: 1rem;
  line-height: 1.2rem;
}
p.opcao{
  color: var(--marrom);
  font-size: 2rem;
  line-height: 1.2rem;
  font-family: var(--fontnoto);
  margin-top: 0.5rem;
}
.descricao{
  padding-left: 1rem;
  width: 75%;
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
/* PlanosCTA */
.plano{
  width: 50%;
  
  border-radius: 15px;
}
.planoscta.desktop{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}
.planoscta.mobile{
  display: none;
}
  
.tarjadesc h2{
  font-size: 1.1rem;
  padding: 0.2rem;
  background-color:var(--marromgradiente);
  border-radius: 20px;
  color: var(--trigo);
  text-align: center;
  }

.precoanterior{
  text-align: center;
  font-size: 0.8rem;
}
.preconovo{
  text-align: center;

}
.spangrande{
  font-family: var(--fontnoto);
  font-size: 2.5rem;
}
.economiaanual{
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.6rem;
}
.assine{
  margin-top: 0.5rem;
  text-align: center;
  box-shadow: 1px 3px 3px 1px var(--sombra);
  padding: 0.5rem 0;
  display: inline-block;
  background-color: var(--marrom);
  color: var(--trigo);
  font-size: 1.25rem;
  width: 100%;
  border-radius: 0 0 15px 15px;
}
.brindes{
  cursor: pointer;
  padding: 0.5rem;
  width: 85%;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  background-color: var(--marromgradiente);
  i{
    color: var(--trigo);
    padding: 0;
    font-size: 1rem;
  }
  p{
    color: var(--trigo);
    font-size: 1rem;
  }
}
.btnbrinde {
  transition: 0.3s;
}
.btnbrinde.aberto .bi-caret-down {
  
  writing-mode: vertical-rl; /* Altera a direção do texto */
  direction: rtl; /* Define a direção da escrita */
  transform: scale(-1, -1); /* Inverte horizontal e vertical */
  
}
.brindes.detalhes{
  padding: 0;
  height: 0px;
  opacity: 0;
  transition: opacity 0.3s, height 0.5s;
  p{
    font-size: 0.6rem;
  }
}
.brindes.detalhes.ativo{
  height: 70px;
  opacity: 1;
}


span.detalhe{
  
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
  font-family: var(--fontnoto);
  font-size: 0.8rem;
  width: 100%;
  background-color: var(--marrom);
  border-radius: 15px 15px 0px 0px;
    color: var(--trigo);
}
.info-plano{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.info-plano1 h3{
  font-size: 1.2rem;
}
/* Animação Options */
.card.card1{
  color: var(--trigo);
  background-color: var(--marrom);
  transform: scale(1);
  transition: 0.3s;
  h3{
    color: var(--trigo);
    font-size: 2rem;    
  }
  h4{
    color: var(--trigo);
  }
}
.card.card1.ativo{
  color: var(--texto);
  background-color: var(--trigo);
  transform: scale(1.15);
  h3{
    color: var(--texto);
    font-size: 2rem;    
  }
  h4{
    color: var(--texto);
  }
}
.card.card2{
  color: var(--trigo);
  background-color: var(--marrom);
  transform: scale(1);
  transition: 0.3s;
  h3{
    color: var(--trigo);
    font-size: 2rem;    
  }
  h4{
    color: var(--trigo);
  }
}
.card.card2.ativo{
  color: var(--texto);
  background-color: var(--trigo);
  transform: scale(1.15);
  h3{
    color: var(--texto);
    font-size: 2rem;    
  }
  h4{
    color: var(--texto);
  }
}
.option.o1{
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.option.o1.ativo {
  visibility: visible;
  opacity: 1;
}
.option.o2{
  transition: .3s;
  left: 7px;
  top:19px;
  visibility: hidden;
  opacity: 0;
}
.option.o2.ativo {
  visibility: visible;
  opacity: 1;
}
.planoscta1.mobile{
  display: none;
}
.planoscta2.mobile{
  display: none;
}



@media screen and (max-width: 970px) {
  /* Header */
  .desktop {
    display: none;
  }
  .btn-contato{
    display:none
  }
  .btn-abrirmb {
    display: block;
  }
  .logo a:hover {
    
    text-shadow: 1px 1px #6b3d26;
  }
  i:hover {
    
    text-shadow: 1px 1px #6b3d26;
  }
  
  section .textocta{
    transform: scale(0.65);
    width: 283px;
    top:10px;
    left: -230px;
  }
  section .textocta.animado{
    transform: scale(0.65);
    width: 283px;
    top:10px;
    left: -15px;
  }
  /* Clube */
  .clube .interface{
    padding: 0;
  }
  #imgclub{
    display: none;
   }
  #imgclub2{
    display: none;
   }
  #imgclub3{
    display: block;
  }
    
    

  .txtcomofunciona{
    padding: 20px 2%;
    h2{
      width: 100%;
    line-height: 1.8rem;
    font-size: 1.4rem;
    }
    p{
      line-height: 1.2rem;
        padding: 0 1.2rem;
        max-width: 100%;
        text-align: center;
        font-size: 1rem;
        width: auto;
    }}
    .passos.desktop{
      display: none;
    }
    .passos.mobile{
      display: flex;
    }   
    
    
  
  .descricao{
    width: 60%;
  }
  .planoscta.desktop{
    display: none;
  }
  .planoscta1.mobile{
    display: block;
    opacity: 0;
    visibility: hidden;
    top: 500px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    background-color: var(--trigotransp);
    border-radius: 1rem;
    padding: 1rem;
  }
  .planoscta1.mobile.ativo{
    
    visibility: visible;
    opacity: 1;
  }
  .planoscta2.mobile{
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 200px;
    background-color: var(--trigotransp);
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
  }
  .planoscta2.mobile.ativo{
    visibility: visible;
    opacity: 1;
    
  }
  .optionsview {
    position: relative;
    margin: 1rem 0;
    background-image: linear-gradient(360deg, #64473a, #755343, #d8c7ad );
    height: 900px;}
  .option{
    padding: 0;
    }
    .cesta{
      position: absolute;
      width: 75%;
      top: 175px;
      left: -50px;
      min-height: 250px;
      max-width: 415px;
    }
    .cesta.c2{
      position: absolute;
      width: 75%;
      top: 80px;
      left: 125px;
      min-height: 250px;
      max-width: 291px;
    }
    p.cestaffetto{
      font-size: 1.5rem;
    }
    p.opcao{
      font-size: 3rem;
    }
    .descricao{
      width: 70%;
      font-size: 1.2rem;
    }
    .btnoptions{
      opacity: 0;
    }
  .card{
    padding: 1rem;
  }
  .card.card1{
    width: 50%;
  }
  .card.card1.ativo{
    transform: scale(1);
    width: 75%;
  }
  .card.card2{
    width: 50%;
  }
  .card.card2.ativo{
    transform: scale(1);
    width: 75%;
  }
}
@media screen and (max-width: 680px){
  /* Header */
  .flex.header{
    flex-wrap: nowrap;
    gap: 0.5rem;
  }
  .logo{
    padding: 0.5rem;
  }
  .btn-abrirmb{
    padding: 0.5rem;
  }
  header i{
    padding: 0.5rem;
  }
  section .textocta{
    transform: scale(0.45);
    width: 283px;
    top:0px;
    left: -200px;
  }
  section .textocta.animado{
    transform: scale(0.35);
    width: 283px;
    top:0px;
    left: -75px;
  }
  .passos.desktop{
    display: none;
  }
  .passos.mobile{
    display: flex;
  }
/* Animação Options */
.optionsview {
  position: relative;
  margin: 1rem 0;
  background-image: linear-gradient(360deg, #64473a, #755343, #d8c7ad );
  height: 900px;}
.option{
  padding: 0;
  }
  .cesta{
    position: absolute;
    width: 75%;
    top: 175px;
    left: -50px;
    min-height: 250px;
    max-width: 415px;
  }
  .cesta.c2{
    position: absolute;
    width: 75%;
    top: 60px;
    left: 0px;
    min-height: 250px;
    max-width: 291px;
  }
  p.cestaffetto{
    font-size: 1.5rem;
  }
  p.opcao{
    font-size: 3rem;
  }
  .descricao{
    width: 70%;
    font-size: 1.2rem;
  }
  .btnoptions{
    opacity: 0;
  }
.card{
  padding: 1rem;
}
.card.card1{
  width: 50%;
}
.card.card1.ativo{
  transform: scale(1);
  width: 75%;
}
.card.card2{
  width: 50%;
}
.card.card2.ativo{
  transform: scale(1);
  width: 75%;
}
 /* CLube */
  .clube .interface{
    padding: 0;
    }
    #imgclub{
      display: none;
     }
    #imgclub2{
      display: block;
     }
    #imgclub3{
      display: none;
    }

/* Clube Options */
.cards{width: 100%;
  gap: 1rem;
}
.clubeoptions{
  h1{
    padding: 1.5rem;
    font-family: 1.65rem;
  }
}

}
